body,
html {
  background-color: white;
  font-family: "Roboto";
  margin: 0px;
}

.bg-1 {
  background-image: url("resources/images/1.jpg");
}

.content {
  max-width: 1024px;
  min-height: 768px;
  margin: auto;
  line-height: 2;
  letter-spacing: 1.8px;
  padding: 100px;
}

.bg-2 {
  background-color: black;
}

.bg-3 {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 35px;
  /* margin-left: 30px; */
}

p {
  font-size: 16px;
  font-family: "Nunito";
  color: white;
  font-weight: 300;
}

#ppp {
  font-family: "Nunito";
  color: black;
}

h1 {
  font-size: 100px;
  color: white;
  margin-top: 120px;
  margin-bottom: 0px;
}

h2 {
  display: inline;
  font-size: 32px;
}

.h2-white {
  font-size: 48px;
  padding: 5px;
  color: white;
  border-bottom: red solid;
}

.h2-black {
  font-size: 48px;
  padding: 5px;
  color: black;
  border-bottom: red solid;
}

h3 {
  color: red;
  font-size: 26px;
}

.box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
  width: 328px;
  height: 300px;
}

.boxes {
  display: flex;
  justify-content: space-around;

  margin-top: 50px;
  flex-wrap: wrap;
}

.boxes-text {
  color: red;
  text-transform: uppercase;
}

.pad {
  padding: 50px;
}

.pad-2 {
  max-width: 600px;
  padding-top: 70px;
  padding-left: auto;
}

.educ {
  display: flex;
  justify-content: space-between;
}

img {
  width: 200px;
  height: 200px;
}

.img-block {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

.img-block-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-block-line {
  margin-top: 50px;
}

.contact-text {
  color: red;
  border-bottom: red solid;
  padding: 2px;
}

.contact-text-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 400px;
}

.left {
  width: 40%;
}

.right {
  width: 80%;
}
